<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<fieldset>
		<center><legend><h3>Contact</h3></legend></center>

		<div class="container">
		  <form action="/action_page.php">
		    <label for="name">Person's Name :</label>
		    <input type="text" id="name" name="" placeholder=""><br><br>

		    <label for="id">Person's Id :</label>
		    <input type="id" id="id" name="" placeholder=""><br><br>

		    <label for="subject">Message</label><br>
		    <textarea type="text"id="text" name="text" placeholder="" style="height:50px"></textarea><br><br>

		    <input type="submit" value="Send">
		  </form>
		</div>
    </fieldset><br>

<a href="Admin_Home.html">Go Home</a><br>

</body>
</html>