<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylehome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Admin Dashboard</label>
      <ul>

				<li><a class="active" href="Admin_Home.html">Home</a></li>
					<li><a href="../view/profile.html">Profile</a></li>
        <li><a href="../view/addvendor.php">Vendor Details</a></li>
        <li><a href="../view/addcustomer.php">Customer Details</a></li>
        <li><a href="../view/contact.html">Contact</a></li>
        <li><a href="../view/employee_details.html">Employee Details</a></li>
				<li><a href="../login.php">Logout</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>
