<!DOCTYPE html>
<html>
<head>
	<title>Customer Information</title>
</head>
<body>
<center><table border="1" cellpadding="5" cellspacing="0">		
	<tr><td colspan="5" align="CENTER"><b>Customer Informatiom</b></td></tr>		
	<tr>
		<td>ID</td>
		<td>NAME</td>
		<td>NUMBER</td>
		<td>USER TYPE</td>
		<td>CONTACT</td>


	</tr>		
	<tr>			
		<td>#28363779</td>
		<td>Samir khan</td> 
		<td>01799833738</td>
		<td>Vendor</td>
		
		<td><a href="../view/message.html">Message</a></td>	
	</tr>		
	<tr>			
		<td>#99273743</td>
		<td>Altaf Ahmed</td>
		<td>0175834888</td>
		<td>Customer</td>
		
		<td><a href="../view/message.html">Message</a></td>			
	</tr>		
	<tr>			
		<td>#99374888</td>
		<td>Shawon Bhuiyan</td>
		<td>0162127266</td>
		<td>Wholesaler</td>
		
		
		<td><a href="../view/message.html">Message</a></td>	
	</tr>		
	<tr>			
		<td>#22536677</td>
		<td>Shakil Ahmed</td>
		<td>01303847457</td>
		<td>Wholesaler</td>
		
		<td><a href="message.html">Message</a></td>	
	</tr>		
	<tr>			
		<td>#112637887</td>
		<td>AL Tanjeem</td>
		<td>01599877536</td> 
		<td>Vendor</td>
		
		<td><a href="../view/message.html">Message</a></td>	
	</tr>		
	<tr>			
		<td>#35473741</td>
		<td>Jubayer Ahmed</td>
		<td>01858311232</td>
		<td>Customer</td>
		
		<td><a href="../view/message.html">Message</a></td>			
	</tr>		
	<tr>			
		<td>#55374777</td>
		<td>Mahmudul Hasan</td>
		<td>0192127266</td>
		<td>Wholesaler</td>
		
		<td><a href="../view/message.html">Message</a></td>	
	</tr>		
	<tr>			
		<td>#66436332</td>
		<td>Jamal Mahmud</td>
		<td>01303847008</td>
		<td>Wholesaler</td>
		
		<td><a href="../view/message.html">Message</a></td>	
	</tr>		
	<tr>			

		<tr><td colspan="5" align="CENTER"><b><a href="Admin_Home.html">Go Home</a></b></td></tr>
		
		</table>			
	</center>

</body>
</html>