<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin's profile</title>
  </head>
  <body>

    <table border="0" width="50%" align="center" >

      <!-- header  -->
      <tr>
        <td colspan="5" align="center"><h1><u>Profile</u></h1></td>
      </tr>
      <!-- Personal Information title -->
        <tr width="10px" height="10px">
          <td colspan="5" height="10px">
            <h3>Personal Information:</h3>
            <hr>
          </td>
        </tr>

      <!-- Personal information -->

        <!-- name -->
          <tr>
            <td rowspan="7"height="100px" width="100px"></td>
            <td><b>Name:</b></td>
            <td>Md Torikul Islam Shanto</td>
            <td rowspan="7" height="100px" width="100px"><img src="../image/ab.png" alt="Not found" height="150px" width="120px"></td>
            <td rowspan="7" height="100px" width="100px"></td>
          </tr>
          <tr>
            <td><b>ID:</b></td>
            <td>#18374071</td>
          </tr>

        <!-- Dob -->
          <tr>
            <td><b>Date of Birth:</b></td>
            <td>22 october 1998</td>
          </tr>
        <!-- Mobile -->
          <tr>
            <td><b>Mobile:</b></td>
            <td>+8801641114525</td>
          </tr>
        <!-- Email -->
          <tr>
            <td><b>Email:</b></td>
            <td>shanto3272@gmail.com</td>
          </tr>
          <tr>
            <td><b>Gender:</b></td>
            <td>Male</td>
          </tr>
          <tr>
            <td><b>Blood Group:</b></td>
            <td>O+ve</td>
          </tr>

        <!-- Address -->
          <tr>
           <td><b>Address:</b></td>
            <td>R:20,Nikunja-2,Khilkhet,Dhaka-1229</td>
          </tr>



              <br>
                    <br>


                  </td>
                  <td height="50px" width="100px"> </td>
                </tr>
                <a href="../view/Admin_Home.html">Go Home</a>
    </table>
  </body>
</html>
