<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Membership Card</title>
	<link rel="stylesheet" type="text/css" href="../CSS/member_card.css">
</head>
<div class="main3">
<center>
 

<fieldset style="height : 100%; width: 100%; align-content: center;">
	<legend>Member Card</legend>

	<table>	
		<!-- <tr>
			<td><h3>Name: Sadman Kabir Sami</h3>
	<h3>Age:22</h3>
	<h3>Address: Dhaka</h3></td>
	<td>
	</td> -->
	<td></td><td></td><td></td><td></td><td></td>
	<td><form method="POST" action="../controller/myfile.php" enctype="multipart/form-data">
			Image: <input type="file" name="myfile" > <br>
			<input type="submit" name="Submit" value="Submit">	
		</form>
		</tr>
		
	
	</table>


	
</fieldset>

</center>
</div>



</body>

</html>