<html>
<head>
	<title> Login Page</title>
	<link rel="stylesheet" type="text/css" href="../style/login.css">
</head>
<body>
	<form method="post" action="../controller/loginCheck.php">
		<div class="main">
		 <div class="login">
			<h2>Login</h2>
			<form id="login" method="post">
			<label>Fast Name:</label><br>
			<input type="text" name="username" id="name" placeholder="Enter your name">	<br><br>

			<label>Password:</label><br>
			<input type="password" name="password" id="name" placeholder="Enter your password">	<br><br>

			<input type="submit" value="Submit" name="submit" id="submit">
			<a href="signup.html">Signup</a>

			</form>
	  	 </div>
	 	</div>			
	</form>
</body>
</html>