<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vendor profile</title>
    <link rel="stylesheet" type="text/css" href="../style/profile.css">
  </head>
  <body>

    <table border="0" width="50%" align="center" >
      <tr>
        <td colspan="5" align="center"><h1><u>Profile</u></h1></td>
      </tr>
        <tr width="10px" height="10px">
          <td colspan="5" height="10px">
            <h3>Personal Information:</h3>
            <hr>
          </td>
        </tr>
      
          <tr>
            <td><b>Name:</b></td>
            <td>Payel Roy</td>
          <tr>
            <td><b>ID:</b></td>
            <td>37410</td>
          </tr>

          <tr>
            <td><b>Date of Birth: </b></td>
            <td>29 May 1998</td>
          </tr>
    
          <tr>
            <td><b>Mobile:</b></td>
            <td>+88017658</td>
          </tr>
      
          <tr>
            <td><b>Email:</b></td>
            <td>payelroy@gmail.com</td>
          </tr>
          <tr>
            <td><b>Gender:</b></td>
            <td>Male</td>
          </tr>
          <tr>
            <td><b>Blood Group: </b></td>
            <td>A+ve</td>
          </tr>
          <tr>
           <td><b>Address:</b></td>
            <td>Palash,Narsingdi</td>
          </tr>      
    </table>
          <a href="home.php">Go Home</a>
  </body>
</html>