<html>
<head>
	<title> Signup Page</title>
	<link rel="stylesheet" type="text/css" href="../style/signup.css">
</head>
<body>
	<form method="post" action="../controller/signupCheck.php">
	<div class="main">
		<div class="signup">
			<h2>Signup Here</h2>
			<form id="signup" method="post">
			<label>Fast Name:</label><br>
			<input type="text" name="username" id="name" placeholder="Enter your name">	<br><br>

			<label>Password:</label><br>
			<input type="password" name="password" id="name" placeholder="Enter your password">	<br><br>

			<label>Email:</label><br>
			<input type="email" name="email" id="name" placeholder="Enter your email">	<br><br>

			<input type="submit" value="Submit" name="submit" id="submit">
			</form>

	 </div>
	</div>
</form>
</body>
</html>